<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}"> 
</head>
<body>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
    <h2>Goals</h2>
    <p></p>
  </div>
  <script type="text/javascript" src="{{ url_for('static',filename='scripts/toggle-nav.js') }}"></script>
</body>
</html>
